rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update: if request.auth != null
        && request.auth.uid == userId;
      allow delete: if false;

      match /shifts/{shiftDate} {
        allow read, delete: if request.auth != null
          && request.auth.uid == userId;

        allow create, update: if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.date == shiftDate
          && request.resource.data.startTime is string
          && request.resource.data.endTime is string;
      }
    }
  }
}
